@model LAPOnlineKredit.web.Models.FinanzielleSituationModel

@{
    ViewBag.Title = "Finanzielle Situation";
}

<div id="content" style="margin-top: 20px">
    <h2>Finanzielle Situation</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID_Kunde)

        <div class="form-horizontal">
            <div class="row" style="margin-top: 20px">
                <div class="col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6">
                    Bitte tragen Sie in die unten stehenden Eingabefelder Ihre aktuelle finanzielle Situation ein.
                    <br /><br />
                    Erfassen Sie dazu Ihr aktuelles monatliches Einkommen (14x jährlich), etwaige Wohnkosten (wie z.B. Miete, Heizung, Strom)
                    Einkünfte aus Alimente und Unterhaltszahlungen an Sie bzw. Unterhaltszahlungen von Ihnen.
                </div>
            </div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-lg-offset-1 col-md-offset-1 col-lg-3 col-md-3" style="text-align: right">
                    @Html.LabelFor(model => model.NettoEinkommen, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-lg-6 col-md-6">
                    @Html.EditorFor(model => model.NettoEinkommen, new { htmlAttributes = new { @class = "form-control", placeholder = "0" } })
                    @Html.ValidationMessageFor(model => model.NettoEinkommen, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-md-offset-1 col-lg-3 col-md-3" style="text-align: right">
                    @Html.LabelFor(model => model.Wohnkosten, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-lg-6 col-md-6">
                    @Html.EditorFor(model => model.Wohnkosten, new { htmlAttributes = new { @class = "form-control", placeholder = "0" } })
                    @Html.ValidationMessageFor(model => model.Wohnkosten, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-md-offset-1 col-lg-3 col-md-3" style="text-align: right">
                    @Html.LabelFor(model => model.SonstigesEinkommen, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-lg-6 col-md-6">
                    @Html.EditorFor(model => model.SonstigesEinkommen, new { htmlAttributes = new { @class = "form-control", placeholder = "0" } })
                    @Html.ValidationMessageFor(model => model.SonstigesEinkommen, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-md-offset-1 col-lg-3 col-md-3" style="text-align: right">
                    @Html.LabelFor(model => model.SonstigeAusgaben, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-lg-6 col-md-6">
                    @Html.EditorFor(model => model.SonstigeAusgaben, new { htmlAttributes = new { @class = "form-control", placeholder = "0" } })
                    @Html.ValidationMessageFor(model => model.SonstigeAusgaben, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-md-offset-1 col-lg-3 col-md-3" style="text-align: right">
                    @Html.LabelFor(model => model.Raten, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-lg-6 col-md-6">
                    @Html.EditorFor(model => model.Raten, new { htmlAttributes = new { @class = "form-control", placeholder = "0" } })
                    @Html.ValidationMessageFor(model => model.Raten, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="row">
                <div class="col-lg-offset-4 col-md-offset-4 col-lg-3 col-md-3">

                    <input type="submit" value="Bestätigen" class="btn btn-default" />

                </div>
            </div>
        </div>
    }

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}